@inherits LayoutComponentBase

<div class="login-layout">
    <div class="login-container">
        @Body
    </div>
</div>

<style>
    .login-layout {
        display: flex;
        text-align:center;
        justify-content: center;
        align-items: center;
        height: 100vh;
        background-color: #f0f0f0; /* Light background for login page */
    }

    .login-container {
        background-color: white;
        padding: 2rem;
        border-radius: 8px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
        width: 300px; /* Adjust the size of the login form */
    }
</style>